:root {
    /* --background-color: #FCE8E6; */
    --background-color: white;
    --text-primary: #590202;
    --card-bg: #FFFFFF;
    --button-bg: #BF7069;
    --button-hover: #D9B1A3;
}

body {
    background-color: var(--background-color);
    color: var(--text-primary);
}

button.next-button {
    background-color: var(--button-bg);
    color: white;
    padding: 8px 16px;
    /* קטן יותר */
    font-size: 14px;
    /* קטן יותר */
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

button.next-button:hover {
    background-color: var(--button-hover);
}

.steps {
    color: var(--text-primary);
    /* חום כהה */
}

.card {
    background-color: var(--card-bg);
}

.css-1timmfm-MuiGrid-root {
    /* direction:ltr; */
    margin-right: 0%;
    height: 100%;
}

.css-1czmy4p-MuiPaper-root {
    box-shadow: 0;
    --Paper-shadow: none !important;
    padding: 40px;
}

.css-5c1adp-MuiContainer-root {
    height: 100%;
}

.css-11lq3yg-MuiGrid-root {
    height: 100%;
}



.css-pb4yjz-MuiPaper-root {
    padding: 0px;
}

.css-82y680-MuiGrid-root {
    height: 400px;
}

.css-16sn0xl-MuiGrid-root{
    box-shadow: none !important;
}

css-6qhrtj-MuiContainer-root {
    padding-top: 0;
}