.update-form-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.update-form-form {
    background-color: aliceblue;
    width: 60%;
    height: 90%;

}

.MuiPopover-root {
    z-index: 3000;
}