.tag {
    font-size: 12px; /* גודל קטן יותר */
    padding: 4px 8px;
    border-radius: 12px;
}
.product-list-container li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* יוודא שכל הכרטיסים מיושרים לגובה מלא */
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 450px; /* הגובה האחיד לכרטיס */
}
.product-card-content {
    flex-grow: 1;
}
