body {
  font-family: "Fredoka", sans-serif; 
}
.bodyContent{
background-color: blue ;
margin-top:0px ;
padding-bottom:0px;
padding-top:0px;
direction: ltr;
}
#root{
margin-top: 0px;
}
/* מכאן עיצוב לנאבבאר */
/* העיצוב הבא היה אמור לדרוס את העיצוב שיש לתמונה של החיה הנמצאת על הנאבבאר אך לא עשה את זה */
.css-1umw9bq-MuiSvgIcon-root {
  width: 0;
  height: 0;
  display: none;
}


